$color: #333;
$background-color: #fff;

:root {

    --color: #{$color};
    --background-color: #{$background-color};

}

.app {

    width: 100%;

    min-height: 100vh;
    color: #{$color};
    color: var( --color, #{$color} );
    background-color: #{$background-color};
    background-color: var( --background-color, #{$background-color} );

    .grid-container {

        padding: 8px;
        overflow: hidden;

        @media ( min-width: 768px ) {

            display: grid;
            grid-template-areas: "left right";
            grid-template-rows: 1fr;
            grid-template-columns: 33% 1fr;

        }

        .grid-cell {

            position: relative;
            padding: 16px;
            border-radius: 3px;

        }

        .left {

            z-index: 0;
            grid-area: left;

        }

        .right {

            z-index: 1;
            grid-area: right;
            background-color: rgba( 255, 255, 255, .81 );

        }

    }

    label {

        margin-bottom: 6px;
        line-height: 1;

    }

    section {

        min-height: 100vh;
        margin: 0 0 16px;

        &.doodle {

            position: relative;
            z-index: 0;
            height: 100%;
            margin: -24px;

        }

    }

    .controls {

        position: absolute;
        z-index: 1;
        margin: 0 auto;
        padding: 6px 8px;
        background-color: rgba( 255, 255, 255, .72 );
        border-radius: 3px;

        @media ( min-width: 768px ) {

            position: fixed;

        }

        &--bottom {

            top: 81%;

        }

        select {

            width: 100%;

        }

    }

}
