$color: #333;
$background-color: #fff;

:root {

    --color: #{$color};
    --background-color: #{$background-color};

}

.app {

    width: 100%;

    min-height: 100vh;
    color: #{$color};
    color: var( --color, #{$color} );
    background-color: #{$background-color};
    background-color: var( --background-color, #{$background-color} );

    .grid-container {

        padding: 8px;
        overflow: hidden;

        @media ( min-width: 768px ) {

            display: grid;
            grid-template-areas: "left right";
            grid-template-rows: 1fr;
            grid-template-columns: 33% 1fr;

        }

        .grid-cell {

            position: relative;
            padding: 16px;

        }

        .left {

            z-index: 0;
            grid-area: left;

        }

        .right {

            z-index: 1;
            grid-area: right;
            background-color: rgba( 255, 255, 255, .81 );

        }

    }

    label {

        display: block;

    }

    section {

        margin: 0 0 16px;
        min-height: 100vh;

    }

    .controls {

        position: fixed;
        margin: 0 auto;
        mix-blend-mode: color-burn;

        &--bottom {

            top: 92vh;

        }

        select {

            width: 100%;

        }

    }

}
