.vue-css-doodle {

    &--mx-auto {

        > css-doodle {

            margin-right: auto;
            margin-left: auto;

        }

    }

    &--fill {

        &-height {

            > css-doodle {

                height: 100%;

            }

        }

    }

    &--fit {

        &-width {

            > css-doodle {

                max-width: 100%;

            }

        }

        &-height {

            > css-doodle {

                max-height: 100%;

            }

        }

    }

    &--overflow-hidden {

        overflow: hidden;

    }

    &--absolute {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;

    }

}
